{% extends 'layout.html' %}

{% block content %}
<div class="corpo" ng-controller="cadastrarController">

<nav class="navbar navbar-default">
 	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	      </button>
	      <a class="navbar-brand" href="/home">Escalar</a>
        <a class="navbar-brand" href="/trocar">Trocar</a>
	      <a class="navbar-brand" href="/ordem">Ordem de Serviço</a>
        <a class="navbar-brand" href="/atualizar" >Atualizar</a>
	    </div>
	</div>
</nav>

<div class="form-group">
  		<form>
            <div class="form-group">
                <label for="nome">Matrícula:</label>
                    <input type="text" class="form-control" placeholder="matricula" ng-model='matricula' maxlength="7">
            </div>

            
            <div class="form-group">
                <label for="nome">Nome:</label>
                    <input type="text" class="form-control" placeholder="nome" ng-model='nome'>
            </div>

        </form>

            <form class="form-inline">

                <div class="form-group">
                    <label for="contato">Contato:</label>
                        <input type="text" class="form-control" placeholder="contato" ng-model='contato'>
                </div>

                <button type="submit" class="btn btn-default" ng-click="inserir()">atualizar</button>

            </form>

                <label for="satus">Status:</label>
                    <select class="form-control" ng-model="status" ng-options="item as item.status for item in opcoes track by item.chefe" ng-change="calcular()"></select>
 
 
      <div class="inputBox">
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="salvar()">Salvar</button>
      </div>  
</div>

{% endblock %}