<!DOCTYPE html>
<html lang="pt-br" ng-app="appPrint">
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	<script src='/javascripts/angular.min.js'></script>
	<script src='/javascripts/angular-cookies.min.js'></script>
	<script src='/javascripts/app.js'></script>
	<script src='/javascripts/appPrint.js'></script>
	<script src='/javascripts/controllers/escalaController.js'></script>
	<script src='/javascripts/controllers/ordemController.js'></script>
	<script src='/javascripts/controllers/imprimirController.js'></script>
	<script src='/javascripts/services/chefesService.js'></script>
	<script src='/javascripts/services/ordemService.js'></script>
	<script src='/javascripts/services/viaturasService.js'></script>
	<script src='/javascripts/factorys/ordemFactory.js'></script>


	<title>{{title}}</title>
</head>
<body ng-controller="imprimirController">

	<div class="headerTabela">
		<img src="images/brasao.png" class="brasao">

		<div class="headerTabelaTexto">
			<h5 class="negrito">PREFEITURA DA CIDADE DO RIO DE JANEIRO</h5>
			<h5 class="negrito">SECRETARIA MUNICIPAL DE ORDEM PÚBLICA</h5>
			<h5 class="negrito">COORDENAÇÃO DE CONTROLE URBANO</h5>
			<h5 class="negrito">SUBGERÊNCIA DE PROGRAMAÇÃO FISCAL E APOIO OPERACIONAL</h5>
		</div>

		<img src="images/jogos.png" class="jogos">
	</div>

	<div class="dataHeader negrito" ng-bind="data">
	</div>

	<div class="inputBox negrito">
	DETERMINAÇÕES GERAIS
	</div>

	 <ul class="justificado">
  		<li class="avisos"><span class="amarelo">Os agentes, lotados nesta Coordenação, deverão manter-se devidamente uniformizados durante o serviço, de acordo com a determinação descrita na portaria "P" F/CCU Nº 16  de 29 de outtubro de 2013.</span></li>
  		<li class="avisos"><span class="amarelo">Os agentes, durante o serviço, deverão "CONTROLAR", "COIBIR", "ORDENAR", "FISCALIZAR" e "REPRIMIR" as irregularidades exercidas em logradouro público, zelando pelo cumprimento do código de posturas municipais.</span></li>
  		<li class="avisos"><span class="amarelo">Realizar a lavratura de Auto de Apreensão de acordo com a necessidade de serviço.</span></li>
  		<li class="avisos"><span class="amarelo">O Plantão Regular nas MOPIs será das 07 às 23 horas. Os agentes que estierem de serviço "EXTRA" deverão realizar o serviço de 24, aguardando a chegada da equipe para rendição.</span></li>
	</ul>
  		
	<table class="tituloTabela">
	<tr>
	<td class="col4 negrito">PROGRAMAÇÃO OPERACIONAL DE FISCALIZAÇÃO</td>
	<td class="col3 violetRed">CHEFIAS</td>
	<td class="col3 violetRed">Nº  P.O.F</td>
	<td class="col3 violetRed">VIATURA(S)</td>
	</table>
	  	
  		<div ng-repeat="ordem in ordens" id="selecao">
  		<div ng-include="ordemTemplate"></div>
  		</div> 

  	<div class="inputBox negrito">
	<center ng-click="retornar()">"JUNTOS SOMOS FORTES"</center>
	</div>

</body>
</html>
    