{% extends 'layout.html' %}

{% block content %}
<div class="corpo" ng-controller="ordemController">
	<nav class="navbar navbar-default">
	 	<div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		      </button>
		      <a class="navbar-brand" href="/home">Escala</a>
		      <a class="navbar-brand" href="/ordem">Ordem de Serviço</a>
		      <a class="navbar-brand" href="/imprimir">Imprimir</a>
		    </div>
		</div>
	</nav>

	<div class="form-group">

  <label for="data">Número</label>
    <input class="form-control" id="numero" ng-model="numero" placeholder="número da ordem de serviço" disabled>

    <label for="data">Data</label>
    <input class="form-control" id="data" ng-model="data" placeholder="data" ng-change="buscar(data)">

  	<label for="inicio">Início</label>
  	<select class="form-control" id="inicio" ng-model="inicio" ng-options="item as item.hora for item in horas track by item.hora"></select>

  	<label for="fim">Término</label>
  	<select class="form-control" id="fim" ng-model="fim" ng-options="item as item.hora for item in horas track by item.hora"></select>

  	<div class="inputBox">
  	<label>Chefes disponíveis:</label>
  	</div>
	  	
  		<div ng-repeat="chefe in chefes" id="selecao">
  		<div ng-include="chefeTemplate"></div>
  		</div> 

  	<div class="inputBox">
  	<label>Agentes disponíveis:</label>
  	</div>
	  	
  		<div ng-repeat="chefe in agentes" id="selecao">
  		<div ng-include="chefeTemplate"></div>
  		</div>   

  	<div class="inputBox">
  	<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="salvar()">Salvar</button>
  	</div>	

    </div>
</div>

{% endblock %}