{% extends 'layout.html' %}

{% block content %}
<div class="corpo" ng-controller="ordemController">
	<nav class="navbar navbar-default" >
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/home">Escalar</a>
            <a class="navbar-brand" href="/trocar">Trocar</a>
            <a class="navbar-brand" href="/cadastrar" >Cadastrar</a>
            <a class="navbar-brand" href="/atualizar" >Atualizar</a>
          </div>
          <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                  <input type="text" ng-model="dia" class="form-control data" placeholder="buscar O.S">
              </div>
                <button type="submit" class="btn btn-default" ng-click="imprimir(dia)">Buscar</button>
            </form>
      </div>
    </nav>

	<div class="form-group">

  <label for="numero">Número</label>
    <input class="form-control" id="numero" ng-model="numero" placeholder="número da ordem de serviço" disabled>

    <label for="data">Data</label>
    <input class="form-control data" ng-model="data" placeholder="data" ng-change="buscar(data)">

  	<label for="inicio">Início</label>
  	<select class="form-control" id="inicio" ng-model="inicio" ng-options="item as item.hora for item in horas track by item.hora"></select>

  	<label for="fim">Término</label>
  	<select class="form-control" id="fim" ng-model="fim" ng-options="item as item.hora for item in horas track by item.hora"></select>

    <label for="fim">1ª Ação Programada</label>
    <div class="inputBox">
    <textarea class="form-control" rows="3" ng-model="acao01"></textarea>
    </div>

    <label for="fim">2ª Ação Programada</label>
    <div class="inputBox">
    <textarea class="form-control" rows="3" ng-model="acao02"></textarea>
    </div>

    <label for="fim">3ª Ação Programada</label>
    <div class="inputBox">
    <textarea class="form-control" rows="3" ng-model="acao03"></textarea>
    </div>

    <label for="fim">4ª Ação Programada</label>
    <div class="inputBox">
    <textarea class="form-control" rows="3" ng-model="acao04"></textarea>
    </div>

    <label for="fim">5ª Ação Programada</label>
    <div class="inputBox">
    <textarea class="form-control" rows="3" ng-model="acao05"></textarea>
    </div>

    <label for="fim">6ª Ação Programada</label>
    <div class="inputBox">
    <textarea class="form-control" rows="3" ng-model="acao06"></textarea>
    </div>

    <label for="fim">7ª Ação Programada</label>
    <div class="inputBox">
    <textarea class="form-control" rows="3" ng-model="acao07"></textarea>
    </div>

  	<div class="inputBox">
  	<label>Chefes disponíveis:</label>
  	</div>
	  	
  		<div ng-repeat="chefe in chefes" id="selecao">
  		<div ng-include="chefeTemplate"></div>
  		</div> 

  	<div class="inputBox">
  	<label>Agentes disponíveis:</label>
  	</div>
	  	
  		<div ng-repeat="chefe in agentes" id="selecao">
  		<div ng-include="chefeTemplate"></div>
  		</div> 


    <div class="inputBox">
    <label>Equipes:</label>
    </div>
      
      <div ng-repeat="equipe in equipes" id="selecao">
      <div ng-include="equipeTemplate"></div>
      </div>

    <div class="inputBox">
    <label>Viaturas:</label>
    </div>
      
      <div ng-repeat="viatura in viaturas" id="selecao">
      <div ng-include="viaturaTemplate"></div>
      </div> 


  	<div class="inputBox">
  	<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="salvar()">Salvar</button>
  	</div>

    </div>
</div>

{% endblock %}