<table class="tabela" ng-class-odd="'odd' + $index" ng-class-even="'even' + $index">
<tr>
<td class="col1" ng-bind="ordem.ordem"></td>

<td class="col2">
<span ng-bind="'EQUIPE(S): ' + ordem.equipe"></span>
<span ng-bind="'APRESENTAÇÃO: ' + ordem.apresentacao"></span>
<span ng-bind="'TÉRMINO: ' + ordem.termino"></span>
<span class="justificado" ng-bind="ordem.acao01"></span>
<span class="justificado" ng-bind="ordem.acao02"></span>
<span class="justificado" ng-bind="ordem.acao03"></span>
<span class="justificado" ng-bind="ordem.acao04"></span>
<span class="justificado" ng-bind="ordem.acao05"></span>
<span class="justificado" ng-bind="ordem.acao06"></span>
<span class="justificado" ng-bind="ordem.acao07"></span>
<span ng-bind="'AGENTE(S): ' + ordem.agentes"></span>
</td>

<td class="col3" ng-bind="ordem.chefe">col 3</td>
<td class="col3" ng-bind="ordem.numero">col 3</td>
<td class="col3" ng-bind="ordem.viatura">col 3</td>
</table>

 