<table class="tabela" ng-class-odd="'odd'" ng-class-even="'even'">
<tr>
<td class="col1" ng-bind="ordem.ordem"></td>

<td class="col2">
<span ng-bind="'EQUIPE(S): ' + ordem.equipe"></span></br>
<span ng-bind="'APRESENTAÇÃO: ' + ordem.apresentacao"></span></br>
<span ng-bind="'TÉRMINO: ' + ordem.termino"></span></br>
<span ng-bind="ordem.acao01"></span></br>
<span ng-bind="ordem.acao02"></span></br>
<span ng-bind="ordem.acao03"></span></br>
<span ng-bind="'AGENTE(S): ' + ordem.agentes"></span></br>
</td>

<td class="col3" ng-bind="ordem.chefe">col 3</td>
<td class="col3" ng-bind="ordem.numero">col 3</td>
<td class="col3" ng-bind="ordem.viatura">col 3</td>
</table>

 